*{
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
.w{
	width: 1226px;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float:right;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
	/*cursor: pointer;*/
}
img{
	border: 0px;
	cursor: pointer;
}



/*正文样式部分*/

.haedImg{
	width: 100%;
	height: 120px;
	background-image:url(../img/header.jpg);
	background-position: center 0; 
	background-repeat: no-repeat;
}
.haedImg a{
	display: block;
	width: inherit;
	height: inherit;
	/*background-color: red;*/
}

.head-nav{
	width: 100%;
	height: 40px;
	background-color: #363636;
	color: #B0B0B0;
}
.head-nav .w{
	height: inherit;
	line-height: 40px;
	font-size: 12px;
}
.head-nav .w .left{
}
.head-nav .w .left a:hover{
	color: #ffffff;
}
.head-nav .w .left span{
	padding-left: 6px;
	padding-right: 4px;
}

.head-nav .w .right a:hover{
	color: #FFFFFF;
}
.head-nav .w .right span{
	padding-left: 6px;
	padding-right: 4px;
}
.head-nav .w .right .shoping{
	display: inline-block;
	height: 40px;
	background-color: #424242;
	width: 124px;
	text-align: center;
	/*font-size: 20px;*/
	position: relative;
	transition: all 0.5s;
	
}
.head-nav .w .right .shoping span{
	line-height: 40px;
}
.head-nav .w .right .shoping:hover{
	background-color: #fff;
	color: #ff6700;
}
.head-nav .w .right .shoping .tanchu{
	position: absolute;
	color: #333;
	top: 40px;
	right: 0px;
	width: 320px;
	height: 0px;
	overflow: hidden;
	transition: all 0.5s;
	text-align: center;
	line-height: 100px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	z-index: 2;
	background-color: #FFFFFF;
	z-index: 3;
}
.head-nav .w .right .shoping:hover .tanchu{
	height: 100px;	
}

/*head-tab部分*/
.head-tab{
	height: 100px;
	
	/*padding: 22px 0px;*/
	
	/*100-44=56px*/
}

.head-tab .img{
	height: 56px;
	margin: 22px 0;
}
.head-tab .img img{
	height: inherit;
}

.head-tab .img2{
	margin-left: 16px;
}
.head-tab .headTab-nav{}
.head-tab .headTab-nav ul{}
.head-tab .headTab-nav ul li{
	float: left;
	font-size: 16px;
	line-height: 56px;
	color: #333333;
	margin-left: 20px;
	cursor: pointer;
	padding: 22px 0;
}
.head-tab .headTab-nav ul li:hover{
	color: #ff6700;
}
.head-tab .headTab-sou{
	margin: 25px 0px;
	position: relative;
	height: 50px;
	width: 294px;
	margin-right: 1px;
	
}
.head-tab .headTab-sou input[name="sou"]{
	width: 244px;
	height: 50px;
	box-sizing: border-box;
	border: 1px #e0e0e0 solid;
	outline: none;
	float: left;
	padding-left: 14px;
	border-right-width:0px ;

}
.head-tab .headTab-sou input[name="sou"].active{
	border-color: #ff6700!important;
}
.head-tab .headTab-sou label{
	float: left;
}
.head-tab .headTab-sou label div{
	width: 50px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	color: #616161;
	box-sizing: border-box;
	border: 1px #e0e0e0 solid;
	cursor: pointer;
}
.head-tab .headTab-sou label div.active{
	border-color: #ff6700!important;
}
.head-tab .headTab-sou label div:hover{
	background-color: #ff6700;
	color: #FFFFFF;
	border-color: #ff6700!important;
}
.head-tab .headTab-sou input#zend{
	display: none;
}

.head-tab .headTab-sou .box{
	position: absolute;
	right: 56px;
	top: 14px;
}
.head-tab .headTab-sou .box a{
	display: inline-block;
	height: 18px;
	padding: 0px 4px;
	line-height: 18px;
	background-color: #eeeeee;
	color: #757575;
	font-size: 12px;
	margin-right: 12px;
}
.head-tab .headTab-sou .box a:hover{
	background-color: #ff6700;
	color: #FFFFFF;
}
.head-tab .headTab-sou .menu{
	width: 243px;
	border: 1px #ff6700 solid;
	border-top-width: 0px;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 3;
	background-color: #FFFFFF;
	display: none;
}
.head-tab .headTab-sou .menu ul{}
.head-tab .headTab-sou .menu ul li{
	float: none;
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0px 23px;
}
.head-tab .headTab-sou .menu ul li a{
	height: inherit;
}
.head-tab .headTab-sou .menu ul li a .left{
	color: #424242;
}
.head-tab .headTab-sou .menu ul li a .right{
	color: #b0b0b0;
}
/*head菜单切换效果*/
.headMenuTab{
	z-index: 999;
	top: 260px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 16px rgba(0,0,0,0.3); 
	width: 100%;
	height: 230px;
	border-top: 1px #e0e0e0 solid;
	position: absolute;
	display: none;
}
.headMenuTab .tabbox{
	height: inherit;
}
.headMenuTab .tabbox>ul{
	height: inherit;
	position: relative;
}
.headMenuTab .tabbox>ul>li{
	position: absolute;
	height: inherit;
	width: 100%;
	display: none;
	top: 0px;
	left: 0px;
}
.headMenuTab .tabbox>ul>li>ul{
	padding: 0px 1px;
	height: inherit;
}
.headMenuTab .tabbox>ul>li>ul>li{
	width: 204px;
	float: left;
	position: relative;
}
.headMenuTab .tabbox>ul>li>ul>li .t{
	font-size: 11px;
	color: #FF6700;
	width: 110px;
	height: 20px;
	border: 1px solid #FF6700;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: -1px;
	left: 50%;
	margin-left: -56px;
	
}
.headMenuTab .tabbox>ul>li>ul>li .img{
	height: 110px;
	text-align: center;
	border-left: 1px #e0e0e0 solid;
	width: 100%;
	box-sizing: ;
	margin-top: 36px;
	overflow: hidden;
	margin-bottom: 10px;
}
.headMenuTab .tabbox>ul>li>ul li:first-child .img{
	border-left: none;
}
.headMenuTab .tabbox>ul>li>ul>li .img img{
	height: inherit;
}
.headMenuTab .tabbox>ul>li>ul>li .p{
	font-size: 11px;
	color: #333333;
	text-align: center;
	line-height: 30px;
}
.headMenuTab .tabbox>ul>li>ul>li .h{
	font-size: 11px;
	color: #FF6700;
	text-align: center;
}


/*carousel部分*/
.carousel{
	height: 460px;
	position: relative;
}
.carousel .carousel-tp{
	position: relative;
}
.carousel .carousel-tp ul{
	position: relative;
	width: 1226px;
	height: 460px;
}
.carousel .carousel-tp ul li{
	width: 1226px;
	height: 460px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	display: none;
}
.carousel .carousel-tp ul li img{
	width: inherit;
	height:inherit;
}
.carousel .carousel-tp .box{
	position: absolute;
	bottom: 25px;
	right: 30px;
	cursor: pointer;
}
.carousel .carousel-tp .box span{
	margin: 0px 5px;
	height: 6px;
	width: 6px;
	display: inline-block;
	border: 2px #a29b95 solid;
	border-radius: 50%;
	background-color:#8f857a ;
}
.carousel .carousel-tp .box span.active,.carousel .carousel-tp .box span:hover{
	border-color: #818181;
	background-color: #f3f3f3;
}
.carousel .carousel-tp .but{
	width: 40px;
	height: 70px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
	color: #767676;
	font-size: 50px;
	font-weight: 200;
	line-height: 65px;
	text-align: center;
	position: absolute;
}
.carousel .carousel-tp .but:hover{
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
}
.carousel .carousel-tp .top{
	left: 234px;
	top: 50%;
	margin-top: -35px;
}
.carousel .carousel-tp .btm{
	right: 0px;
	top: 50%;
	margin-top: -35px;
}

.carousel .carousel-menu{
	width: 234px;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
	padding: 20px 0px;
}
.carousel .carousel-menu ul{
	width: inherit;
}
.carousel .carousel-menu ul li{
	/*width: 232px;*/
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	padding: 0px 30px;
}
.carousel .carousel-menu ul li.active{
	background-color: #ff6700;
	color: #FFFFFF;
}
.carousel .carousel-menu ul li a:after{
	content: "";
	display: block;
	clear: both;
}
.carousel .carousel-menu ul li a .left{}
.carousel .carousel-menu ul li a .right{
	line-height: 42px;
	font-size: 14px;
}

/*mune-tab部分*/

.carousel .mune-tab{
	position: absolute;
	/*width: 994px;*/
	height: 460px;
	top: 0px;
	left: 234px;
}
.carousel .mune-tab .children{
	display: none;
	width:auto;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 2px 0px;
	height: inherit;
	/*width: inherit;*/
	box-sizing: border-box;
	/*border: 1px #e0e0e0 solid;*/
	border-left-width:0px ;
	box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
}
.carousel .mune-tab .children ul{
	width: 248px;
	float: left;
}
.carousel .mune-tab .children ul li{
	width: 100%;
	height: 76px;
	padding: 18px 20px;
	box-sizing: border-box;
}
.carousel .mune-tab .children ul li a{}
.carousel .mune-tab .children ul li a .left{}
.carousel .mune-tab .children ul li a .left .img{
	width: 40px;
	width: 40px;
	overflow: hidden;
}
.carousel .mune-tab .children ul li a .left .img img{
	width: inherit;
	height: inherit;
}
.carousel .mune-tab .children ul li a .left span{
	font-size: 12px;
	/*font-weight: 500;*/
	color: #333;
	line-height: 40px;
	height: 40px;
	margin-left: 16px;
}
.carousel .mune-tab .children ul li a .left span:hover{
	color: #ff6700;
}
.carousel .mune-tab .children ul li a .right{
	width: 60px;
	height: 24px;
	box-sizing: border-box;
	border: 1px #ff6700 solid;
	margin: 8px 0px;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	color: #ff6700;
	transition: all 0.5s;
}
.carousel .mune-tab .children ul li a .right:hover{
	background-color: #ff6700;
	color: #FFFFFF;
}

/*show 部分*/
.show{
	margin-top: 14px;
	height: 170px;
}
.show ul{
	width: inherit;
	height: inherit;
}
.show ul li{
	float: left;
	height: inherit;
}
.show ul .s1{
	position: relative;
	background-color: #5f5750;
	color: #cdcac8;
	width: 234px;
	margin-right: 14px;
	padding: 9px;
	box-sizing: border-box;
}
.show ul .s1 .item:hover{
	color: #fff;
}
.show ul .s1 .item{
	text-align: center;
	width: 72px;
	height: 76px;
	box-sizing: border-box;
	float: left;
}
.show ul .s1 .item span{
	font-size: 12px;
	/*line-height: 18px;*/
}
.show ul .s1 .item span.fa{
	font-size: 20px;
	display: block;
	margin-top: 12px;
}
.show ul .s1 .item1{}
.show ul .s1 .item2{
	border-left: 1px #665e57 solid;
	border-right: 1px #665e57 solid;
}
.show ul .s1 .item3{}
.show ul .s1 .item4{
	border-top: 1px #665e57 solid;
}
.show ul .s1 .item5{
	border-top: 1px #665e57 solid;
	border-left: 1px #665e57 solid;
	border-right: 1px #665e57 solid;
	
}
.show ul .s1 .item6{
	border-top: 1px #665e57 solid;
	
}
.show ul .s1 .sp{
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	background-color: #5f5750;
	z-index: 3;
}
.show ul .s1 .sp1{
	top:80px;
	left: 75px;
}
.show ul .s1 .sp2{
	top:80px;
	right: 75px;
}
.show ul .s{
	width: 316px;
	margin-right: 15px;
}
.show ul .s4{
	margin-right: 0px;
}
.show ul .s a{}
.show ul .s a img{
	width: 316px;
	height: 170px;
}


/*小米明星单品部分*/

.mxdp{
	margin-top: 24px;
	position: relative;
}
.mxdp .title{
	font-size: 20px;
	line-height: 58px;
}
.mxdp .span{
	position: absolute;
	right: 0px;
	top: 26px;
	font-size: 12px;
	z-index: 4;
}
.mxdp .span span{
	width: 34px;
	height: 22px;
	color: #e0e0e2;
	display: inline-block;
	line-height: 22px;
	border: 1px #e0e0e0 solid;
	text-align: center;
}
.mxdp .span span.active{
	cursor: pointer;
	color: #b4c1d4;
}
.mxdp .box{
	width: inherit;
	overflow: hidden;
}
.mxdp .box ul{
	margin-bottom: 40px;
	position: relative;
}
.mxdp .box ul li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	/*transform: translateY(-4px);*/
}
.mxdp .box ul li{
	transition: all 0.3s;
	border-top: 1px #FF6700 solid;
	margin-right: 14px;
	float: left;
	width: 234px;
	height: 340px;
	text-align: center;
	background-color: #fafafa;
}
.mxdp .box ul li .img{
	margin: 30px auto;
	width: 160px;
	height: 160px;
	overflow: hidden;
}
.mxdp .box ul li .img a img{
	width: 160px;
	height: 160px;
}
.mxdp .box ul li .t{
	font-size: 12px;
	line-height: 1.8em;
	text-align: center;
	width: 100%;
}
.mxdp .box ul li .t1{
	color: #212121;
}
.mxdp .box ul li .t2{
	color: #B0B0B0;
}
.mxdp .box ul li .t3{
	color: #FF6700;
}
/*content部分*/
.content{
	width: 100%;
	background-color: #f5f5f5;
}


/*商品展示部分*/
.content{
	padding:20px 0px 60px;
}

.content .spBox{
}
.content .spBox .spTopBox{
	height: 60px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.content .spBox .spTopBox .title{
	font-size: 22px;
	line-height: 60px;
	color: #333;
}
.content .spBox .spTopBox .right{
	line-height: 60px
}
.content .spBox .spTopBox .right span{
	font-size: 16px;
	color: #424242;
	line-height: 28px;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: all 0.3s;
}
.content .spBox .spTopBox .right span.active{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;
}
.content .spBox .spBtmBox{
	position: relative;
}

.content .spBox .spBtmBox>.images-left:hover{
	transform: translateY(-4px);
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
}
.content .spBox .spBtmBox>.left{
	width:234px;
	height: 614px;
	position: relative;
	transition: all 0.3s;
	/*margin-left: 14px;*/
}
.content .spBox .spBtmBoxb>.left{
	height: 554px;
}
.content .spBox .spBtmBox>.images-left>img{
	width: inherit;
	height: inherit;
}
.content .spBox .spBtmBox>.left>.img:hover{
	transform: translateY(-4px);
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
}
.content .spBox .spBtmBox>.left>.img{
	width: 234px;
	height: 270px;
	position: relative;
	transition: all 0.3s;
	overflow: hidden;
	margin-bottom: 14px;
}
.content .spBox .spBtmBox>.left>.img:last-child{
	margin-bottom: 0px;
}
.content .spBox .spBtmBox>.left>.img>img{
	width: inherit;
	height: inherit;
}
.content .spBox .spBtmBox>.right{
	width: 992px;
	display: none;
	height: 614px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.content .spBox .spBtmBoxb>.right{
	height: 554px;
}
.content .spBox .spBtmBox .right ul{
	width: inherit;
	height: inherit;
	/*overflow: hidden;*/
}
.content .spBox .spBtmBox .right ul li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	transform: translateY(-4px);
}
.content .spBox .spBtmBox .right ul li:not(.lt){
	margin-top: 14px;
}
.content .spBox .spBtmBox .right ul li{
	transition: all 0.3s;
	position: relative;
	height: 300px;
	width: 234px;
	margin-left: 14px;
	background-color: #FFFFFF;
	overflow: hidden;
	float: left;
}
.content .spBox .spBtmBoxb .right ul li{
	height: 270px;
}
.content .spBox .spBtmBox .right ul li .top{
	position: absolute;
	top: 0px;
	left:50%;
	margin-left: -29px;
	width: 58px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #e53935;
}
.content .spBox .spBtmBox .right ul li .img{
	display: block;
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 18px;
}
.content .spBox .spBtmBox .right ul li .img img{
	width: 150px;
	height: 150px;
}
.content .spBox .spBtmBox .right ul li h1{
	font-size: 12px;
	line-height: 30px;
	color: #333333;
	text-align: center;
	font-weight: normal;
}

.content .spBox .spBtmBox .right ul li h4{
	font-weight: normal;
	font-size: 10px;
	line-height: 36px;
	color: #B0B0B0;
	text-align: center;
}
.content .spBox .spBtmBox .right ul li h3{
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FF6700;
}
.content .spBox .spBtmBox .right ul li:hover .bottom{
	bottom: 0px;
}
.content .spBox .spBtmBox .right ul li .bottom{
	font-size: 11px;
	height: 76px;
	width: 234px;
	line-height: 18px;
	padding: 10px 30px;
	background-color: #FF6700;
	color: #FFFFFF;
	box-sizing: border-box;
	position: absolute;
	transition: all 0.3s;
	bottom: -76px;
}

.content .spBox .spBtmBox .right ul li .bottom span{
	display: block;
	padding-top: 6px;
	color: #ffc299;
}
.content .spBox .spBtmBox .right ul li.mixbox{
	height: 143px;
	box-sizing: border-box;
	padding: 32px 30px 31px;
}
.content .spBox .spBtmBoxb .right ul li.mixbox{
	height: 128px;
	padding: 24px 30px 31px;
}
.content .spBox .spBtmBox .right ul li.mixbox div{
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.content .spBox .spBtmBox .right ul li.mixbox div img{
	width: inherit;
	height: inherit;
}
.content .spBox .spBtmBox .right ul li.mixbox div h1{
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.content .spBox .spBtmBox .right ul li.mixbox div h3{
	line-height: 30px;
	text-align: left;
}
.content .spBox .spBtmBox .right ul li.mixbox .left{
	padding:10px 0px;
}
.content .spBox .spBtmBox .right ul li.mixbox .right{
	text-align: center;
}
.content .spBox .spBtmBox .right ul li.gengduo .left h1{
	font-size: 20px;
}
.content .spBox .spBtmBox .right ul li.gengduo .left h3{
	font-size: 14px;
	color: #757575;
}

.content .spBox .spBtmBox .right ul li.gengduo .right span{
	font-size:52px;
	line-height: 80px;
	color: #ff6700;
	font-weight: 100;
}

/*为您推荐部分*/

.wntj{
	margin-top: 24px;
	position: relative;
}
.wntj .title{
	font-size: 20px;
	line-height: 58px;
}
.wntj .span{
	position: absolute;
	right: 0px;
	top: 26px;
	font-size: 12px;
	z-index: 4;
}
.wntj .span span:hover{
	color: #FF6700;
}
.wntj .span span.active:hover{
	color: #ff6700;
}
.wntj .span span{
	width: 34px;
	height: 22px;
	color: #e0e0e2;
	display: inline-block;
	line-height: 22px;
	border: 1px #e0e0e0 solid;
	text-align: center;
}
.wntj .span span.active{
	cursor: pointer;
	color: #b4c1d4;
}
.wntj .box{
	width: inherit;
	overflow: hidden;
}
.wntj .box ul{
	position: relative;
}
.wntj .box ul li{
	margin-right: 14px;
	float: left;
	width: 234px;
	height: 268px;
	text-align: center;
	background-color: #fafafa;
	transition: all 0.3s;
}
.wntj .box ul li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	transform: translateY(-4px);
}
.wntj .box ul li .img{
	margin: 30px auto;
	margin-bottom: 0px;
	width: 140px;
	height: 140px;
	overflow: hidden;
}
.wntj .box ul li .img a img{
	width: 140px;
	height: 140px;
}
.wntj .box ul li .t{
	font-size: 12px;
	line-height: 2.2em;
	text-align: center;
	width: 100%;
}
.wntj .box ul li .t1{
	color: #212121;
}
.wntj .box ul li .t2{
	color: #B0B0B0;
}
.wntj .box ul li .t3{
	color: #FF6700;
}

/*热评产品部分*/
.rpcp{
	margin-top: 24px;
}

.rpcp .title{
	font-size: 20px;
	line-height: 56px;
}
.rpcp .box{
	width: 100%;
}
.rpcp .box ul{}
.rpcp .box ul li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	transform: translateY(-4px);
}
.rpcp .box ul li{
	transition: all 0.3s;
	width: 296px;
	overflow: hidden;
	height: 415px;
	background-color: #FFFFFF;
	float: left;
	margin-right: 14px;
}
.rpcp .box ul li:last-child{
	margin-right: 0px;
}

.rpcp .box ul li .img{
	width: inherit;
	height: 220px;
	overflow: hidden;
}
.rpcp .box ul li .img img{
	width: inherit;
}
.rpcp .box ul li .p{
	padding: 28px;
	font-size: 12px;
	line-height: 20px;
}
.rpcp .box ul li .p1{
	color: #333333;
	-webkit-line-clamp: 3;    /*用来限制在一个块元素显示的文本的行数*/
    display: -webkit-box;    /*必须结合的属性，将对象作为弹性伸缩盒子模型显示*/
    -webkit-box-orient: vertical;    /*必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式*/
    overflow: hidden;
}
.rpcp .box ul li .p2{
	font-size: 11px;
	color: #B0B0B0;
	line-height: 40px;
}
.rpcp .box ul li .p3{
	margin-top: 20px;
}
.rpcp .box ul li .p3 a{
	color: #333333;
	display: inline-block;
	margin-left: 10px;
}
.rpcp .box ul li .p3 span{
	display: inline-block;
	margin: 10px;
	color: #ff6700;
}

/*内容部分*/
.nr{
	margin-top: 24px;
}

.nr .title{
	font-size: 20px;
	line-height: 56px;
}
.nr .box{
	width: 100%;
}
.nr .box>ul{}
.nr .box>ul>li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	transform: translateY(-4px);
}
.nr .box>ul>li{
	position: relative;
	transition: all 0.3s;
	width: 296px;
	overflow: hidden;
	height: 420px;
	border-top: 1px solid #ff6700;
	background-color: #FFFFFF;
	float: left;
	margin-right: 14px;
}
.nr .box>ul>li:last-child{
	margin-right: 0px;
}
.nr .box ul li .tit{
	height: 84px;
	text-align: center;
	box-sizing: border-box;
	padding-top:44px ;
	font-size: 16px;
	color: #FF6700;
}
.nr .box ul li .con{}
.nr .box ul li .con ul{
	/*width: 1000px;*/
	position: relative;
	/*z-index: 333;*/
}
.nr .box ul li .con ul li{
	/*border: none;*/
	width: 296px;
	float: left;
}

.nr .box ul li .con ul li .boxH{
	height: 118px;
	text-align: center;
}
.nr .box ul li .con ul li .boxH h1{
	color: #333333;
	font-size: 20px;
	margin-bottom: 5px;
}
.nr .box ul li .con ul li .boxH p{
	padding: 0px 50px;
	font-size: 11px;
	color: #B0B0B0;
	line-height: 20px;
}
.nr .box ul li .con ul li .boxH h2{
	font-size: 12px;
	color: #333333;
	line-height: 40px;
}
.nr .box ul li .con ul li .boxH .but{
	width: 118px;
	height: 28px;
	font-size: 11px;
	color: #ff6700;
	border: 1px solid #ff6700;
	line-height: 28px;
	margin: 12px auto;
}
.nr .box ul li .con ul li .img{
	height: 154px;
	text-align: center;
}
.nr .box ul li .con ul li .img img{
	height: inherit;
}
.nr .box ul li .tabBut{
	position: absolute;
	bottom: 24px;
	z-index: 33;
	left: 50%;
}
.nr .box ul li .tabBut span{
	cursor: pointer;
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #B0B0B0;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	margin: 0px 12px;
}
.nr .box ul li .tabBut span.active{
	border-color: #ff6700;
	background-color: #FFFFFF;
}
.nr .box ul li .tabBut span:hover{
	background-color: #ff6700;
}
.nr .box ul li>.left{
	width: 20px;
	height: 48px;
	position: absolute;
	top: 190px;
	font-size: 16px;
	line-height: 48px;
	left: 0px;
	text-align: center;
	background-color: #d9d9d9;
	color: #FFFFFF;
	/*display: none;*/
	cursor: pointer;
	z-index: 111;
}
.nr .box ul li>.right{
	z-index: 111;
	cursor: pointer;
	/*display: none;*/
	color: #FFFFFF;
	background-color: #d9d9d9;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	right: 0px;
	position: absolute;
	top: 190px;
	width: 20px;
	height: 48px;
}
.nr .box ul li:hover>.right,.nr .box ul li:hover>.left{
	display: block;
}
.nr .box ul li>.right:hover,.nr .box ul li>.left:hover{
	background-color: #aaa;
}

/*视频部分*/
.video{
	margin-top: 24px;
}

.video .title{
	font-size: 20px;
	line-height: 56px;
}
.video .box{
	width: 100%;
}
.video .box ul{}
.video .box ul li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	transform: translateY(-4px);
}
.video .box ul li{
	transition: all 0.3s;
	width: 296px;
	overflow: hidden;
	height: 285px;
	background-color: #FFFFFF;
	float: left;
	margin-right: 14px;
	position: relative;
}
.video .box ul li:last-child{
	margin-right: 0px;
}
.video .box ul li .img{
	width: inherit;
	height: 180px;
	overflow: hidden;
}
.video .box ul li .img img{
	width: inherit;
	height: inherit;
}

.video .box ul li .img:hover span{
	background-color: #ff6700;
	border-color: #FF6700;
}
.video .box ul li .img span{
	position: absolute;
	top: 136px;
	transition: all 0.3s;
	left: 22px;
	color: #FFFFFF;
	width: 36px;
	height: 26px;
	border-radius: 13px;
	display: block;
	border: 2px solid #fff;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
}
.video .box ul li h1{
	text-align: center;
	font-size: 12px;
	margin-top: 16px;
	line-height: 40px;
	color: #333;
	font-weight: normal
}
.video .box ul li p{
	text-align: center;
	font-size: 11px;
	color: #b7b7cb;
}

/*底部导航信息部分*/
.footer{}
.footer .tit{
	padding: 20px 0px;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
.footer .tit li:first-child{
	border-left: 0px;
}
.footer .tit li{
	/*line-height: 80px;*/
	color: #616161;
	text-align: center;
	width: 244px;
	float: left;
	border-left: 1px solid #e0e0e0;
}
.footer .tit li a{
	line-height: 40px;
	position: relative;
	top: -3px;
	font-size: 16px;
	display: inline-block;
}
.footer .tit li span{
	font-size: 24px;
	line-height: 40px;
	display: inline-block;
	margin-right: 8px;
}

.footer .con{
	margin-top: 20px;
	margin-bottom: 40px;
}
.footer .con .con-ul{
	
}
.footer .con .con-ul li{
	width: 160px;
	float: left;
}
.footer .con .con-ul li p{
	font-size: 12px;
	color: #424242;
	line-height: 52px;
}
.footer .con .con-ul li a{
	font-size: #757575;
	font-size: 11px;
	line-height: 30px;
	display: block;
}
.footer .con .right{
	width: 246px;
	border-left: 1px solid #E0E0E0;
	height: 112px;
	margin-top: 20px;
	text-align: center;
}
.footer .con .right h1{
	font-size: 20px;
	color: #ff6700;
	margin-bottom: 6px;
	font-weight: normal;
}
.footer .con .right h3{
	font-weight: normal;
	font-size: 11px;
	color: #616161;
	line-height: 18px;
}
.footer .con .right p{
	cursor: pointer;
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	line-height: 28px;
	color: #ff6700;
	font-size: 11px;
	margin: 10px auto;
}

.footer .btm{}
.footer .btm .logo{
	width: 57px;
	height: 57px;
	margin-right: 10px;
	overflow: hidden;
}
.footer .btm .logo img{
	width: inherit;
	height: inherit;
}
.footer .btm .hezuo{
	font-size: 11px;
	color: #b6b6c9;
}
.footer .btm .hezuo>p{
	line-height: 19px;
}
.footer .btm .hezuo>p a{
	display: inline-block;
	padding: 0px 2px 0px 1px;
	color: #757575;
}
.footer .right{
	height: 30px;
	margin-top: 4px;
}
.footer .right img{
	height: inherit;
}

.xiaomi{
	font-family: 华文行楷;
	text-align: center;
	font-size: 18px;
	color: #bbb;
	line-height: 88px;
}
