*{
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
.w{
	width: 1226px;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float:right;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}



/*正文样式部分*/

.haedImg{
	width: 100%;
	height: 120px;
	background-image:url(../img/header.jpg);
	background-position: center 0; 
	background-repeat: no-repeat;
}
.haedImg a{
	display: block;
	width: inherit;
	height: inherit;
	/*background-color: red;*/
}

.head-nav{
	width: 100%;
	height: 40px;
	background-color: #363636;
	color: #B0B0B0;
}
.head-nav .w{
	height: inherit;
	line-height: 40px;
	font-size: 12px;
}
.head-nav .w .left{
}
.head-nav .w .left a:hover{
	color: #ffffff;
}
.head-nav .w .left span{
	padding-left: 6px;
	padding-right: 4px;
}

.head-nav .w .right a:hover{
	color: #FFFFFF;
}
.head-nav .w .right span{
	padding-left: 6px;
	padding-right: 4px;
}
.head-nav .w .right .shoping{
	display: inline-block;
	height: 40px;
	background-color: #424242;
	width: 124px;
	text-align: center;
	/*font-size: 20px;*/
	position: relative;
	transition: all 0.5s;
	
}
.head-nav .w .right .shoping span{
	line-height: 40px;
}
.head-nav .w .right .shoping:hover{
	background-color: #fff;
	color: #ff6700;
}
.head-nav .w .right .shoping .tanchu{
	position: absolute;
	color: #333;
	top: 40px;
	right: 0px;
	width: 320px;
	height: 0px;
	overflow: hidden;
	transition: all 0.5s;
	text-align: center;
	line-height: 100px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	z-index: 2;
	background-color: #FFFFFF;
	z-index: 3;
}
.head-nav .w .right .shoping:hover .tanchu{
	height: 100px;	
}

/*head-tab部分*/
.head-tab{
	height: 56px;
	padding: 22px 0px;
	
	/*100-44=56px*/
}

.head-tab .img{
	height: 56px;
}
.head-tab .img img{
	height: inherit;
}

.head-tab .img2{
	margin-left: 16px;
}
.head-tab .headTab-nav{}
.head-tab .headTab-nav ul{}
.head-tab .headTab-nav ul li{
	float: left;
	font-size: 16px;
	line-height: 56px;
	color: #333333;
	margin-left: 20px;
	cursor: pointer;
}
.head-tab .headTab-nav ul li:hover{
	color: #ff6700;
}
.head-tab .headTab-sou{
	margin: 3px 0px;
	position: relative;
	height: 50px;
	width: 294px;
	margin-right: 1px;
	
}
.head-tab .headTab-sou input[name="sou"]{
	width: 244px;
	height: 50px;
	box-sizing: border-box;
	border: 1px #e0e0e0 solid;
	outline: none;
	float: left;
	padding-left: 14px;
	border-right-width:0px ;

}
.head-tab .headTab-sou input[name="sou"].active{
	border-color: #ff6700!important;
}
.head-tab .headTab-sou label{
	float: left;
}
.head-tab .headTab-sou label div{
	width: 50px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	color: #616161;
	box-sizing: border-box;
	border: 1px #e0e0e0 solid;
	cursor: pointer;
}
.head-tab .headTab-sou label div.active{
	border-color: #ff6700!important;
}
.head-tab .headTab-sou label div:hover{
	background-color: #ff6700;
	color: #FFFFFF;
	border-color: #ff6700!important;
}
.head-tab .headTab-sou input#zend{
	display: none;
}

.head-tab .headTab-sou .box{
	position: absolute;
	right: 56px;
	top: 14px;
}
.head-tab .headTab-sou .box a{
	display: inline-block;
	height: 18px;
	padding: 0px 4px;
	line-height: 18px;
	background-color: #eeeeee;
	color: #757575;
	font-size: 12px;
	margin-right: 12px;
}
.head-tab .headTab-sou .box a:hover{
	background-color: #ff6700;
	color: #FFFFFF;
}
.head-tab .headTab-sou .menu{
	width: 243px;
	border: 1px #ff6700 solid;
	border-top-width: 0px;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 3;
	background-color: #FFFFFF;
	display: none;
}
.head-tab .headTab-sou .menu ul{}
.head-tab .headTab-sou .menu ul li{
	float: none;
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0px 23px;
}
.head-tab .headTab-sou .menu ul li a{
	height: inherit;
}
.head-tab .headTab-sou .menu ul li a .left{
	color: #424242;
}
.head-tab .headTab-sou .menu ul li a .right{
	color: #b0b0b0;
}
/*carousel部分*/
.carousel{
	height: 460px;
	position: relative;
}
.carousel .carousel-tp{
	position: relative;
}
.carousel .carousel-tp ul{
	position: relative;
	width: 1226px;
	height: 460px;
}
.carousel .carousel-tp ul li{
	width: 1226px;
	height: 460px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	display: none;
}
.carousel .carousel-tp ul li img{
	width: inherit;
	height:inherit;
}
.carousel .carousel-tp .box{
	position: absolute;
	bottom: 25px;
	right: 30px;
	cursor: pointer;
}
.carousel .carousel-tp .box span{
	margin: 0px 5px;
	height: 6px;
	width: 6px;
	display: inline-block;
	border: 2px #a29b95 solid;
	border-radius: 50%;
	background-color:#8f857a ;
}
.carousel .carousel-tp .box span.active,.carousel .carousel-tp .box span:hover{
	border-color: #818181;
	background-color: #f3f3f3;
}
.carousel .carousel-tp .but{
	width: 40px;
	height: 70px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
	color: #767676;
	font-size: 50px;
	font-weight: 200;
	line-height: 65px;
	text-align: center;
	position: absolute;
}
.carousel .carousel-tp .but:hover{
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
}
.carousel .carousel-tp .top{
	left: 234px;
	top: 50%;
	margin-top: -35px;
}
.carousel .carousel-tp .btm{
	right: 0px;
	top: 50%;
	margin-top: -35px;
}

.carousel .carousel-menu{
	width: 234px;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
	padding: 20px 0px;
}
.carousel .carousel-menu ul{
	width: inherit;
}
.carousel .carousel-menu ul li{
	/*width: 232px;*/
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	padding: 0px 30px;
}
.carousel .carousel-menu ul li.active{
	background-color: #ff6700;
	color: #FFFFFF;
}
.carousel .carousel-menu ul li a:after{
	content: "";
	display: block;
	clear: both;
}
.carousel .carousel-menu ul li a .left{}
.carousel .carousel-menu ul li a .right{
	line-height: 42px;
	font-size: 14px;
}

/*mune-tab部分*/

.carousel .mune-tab{
	position: absolute;
	/*width: 994px;*/
	height: 460px;
	top: 0px;
	left: 234px;
}
.carousel .mune-tab .children{
	display: none;
	width:auto;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 2px 0px;
	height: inherit;
	/*width: inherit;*/
	box-sizing: border-box;
	/*border: 1px #e0e0e0 solid;*/
	border-left-width:0px ;
	box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
}
.carousel .mune-tab .children ul{
	width: 248px;
	float: left;
}
.carousel .mune-tab .children ul li{
	width: 100%;
	height: 76px;
	padding: 18px 20px;
	box-sizing: border-box;
}
.carousel .mune-tab .children ul li a{}
.carousel .mune-tab .children ul li a .left{}
.carousel .mune-tab .children ul li a .left .img{
	width: 40px;
	width: 40px;
	overflow: hidden;
}
.carousel .mune-tab .children ul li a .left .img img{
	width: inherit;
	height: inherit;
}
.carousel .mune-tab .children ul li a .left span{
	font-size: 12px;
	/*font-weight: 500;*/
	color: #333;
	line-height: 40px;
	height: 40px;
	margin-left: 16px;
}
.carousel .mune-tab .children ul li a .left span:hover{
	color: #ff6700;
}
.carousel .mune-tab .children ul li a .right{
	width: 60px;
	height: 24px;
	box-sizing: border-box;
	border: 1px #ff6700 solid;
	margin: 8px 0px;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	color: #ff6700;
	transition: all 0.5s;
}
.carousel .mune-tab .children ul li a .right:hover{
	background-color: #ff6700;
	color: #FFFFFF;
}

/*show 部分*/
.show{
	margin-top: 14px;
	height: 170px;
}
.show ul{
	width: inherit;
	height: inherit;
}
.show ul li{
	float: left;
	height: inherit;
}
.show ul .s1{
	position: relative;
	background-color: #5f5750;
	color: #cdcac8;
	width: 234px;
	margin-right: 14px;
	padding: 9px;
	box-sizing: border-box;
}
.show ul .s1 .item:hover{
	color: #fff;
}
.show ul .s1 .item{
	text-align: center;
	width: 72px;
	height: 76px;
	box-sizing: border-box;
	float: left;
}
.show ul .s1 .item span{
	font-size: 12px;
	/*line-height: 18px;*/
}
.show ul .s1 .item span.fa{
	font-size: 20px;
	display: block;
	margin-top: 12px;
}
.show ul .s1 .item1{}
.show ul .s1 .item2{
	border-left: 1px #665e57 solid;
	border-right: 1px #665e57 solid;
}
.show ul .s1 .item3{}
.show ul .s1 .item4{
	border-top: 1px #665e57 solid;
}
.show ul .s1 .item5{
	border-top: 1px #665e57 solid;
	border-left: 1px #665e57 solid;
	border-right: 1px #665e57 solid;
	
}
.show ul .s1 .item6{
	border-top: 1px #665e57 solid;
	
}
.show ul .s1 .sp{
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	background-color: #5f5750;
	z-index: 3;
}
.show ul .s1 .sp1{
	top:80px;
	left: 75px;
}
.show ul .s1 .sp2{
	top:80px;
	right: 75px;
}
.show ul .s{
	width: 316px;
	margin-right: 15px;
}
.show ul .s4{
	margin-right: 0px;
}
.show ul .s a{}
.show ul .s a img{
	width: 316px;
	height: 170px;
}


/*小米明星单品部分*/

.mxdp{
	margin-top: 24px;
	position: relative;
}
.mxdp .title{
	font-size: 20px;
	line-height: 58px;
}
.mxdp .span{
	position: absolute;
	right: 0px;
	top: 26px;
	font-size: 12px;
	z-index: 4;
}
.mxdp .span span{
	width: 34px;
	height: 22px;
	color: #e0e0e2;
	display: inline-block;
	line-height: 22px;
	border: 1px #e0e0e0 solid;
	text-align: center;
}
.mxdp .span span.active{
	cursor: pointer;
	color: #b4c1d4;
}
.mxdp .box{
	width: inherit;
	overflow: hidden;
}
.mxdp .box ul{
	margin-bottom: 40px;
	position: relative;
}
.mxdp .box ul li{
	border-top: 1px #FF6700 solid;
	margin-right: 14px;
	float: left;
	width: 234px;
	height: 340px;
	text-align: center;
	background-color: #fafafa;
}
.mxdp .box ul li .img{
	margin: 30px auto;
	width: 160px;
	height: 160px;
	overflow: hidden;
}
.mxdp .box ul li .img a img{
	width: 160px;
	height: 160px;
}
.mxdp .box ul li .t{
	font-size: 12px;
	line-height: 1.8em;
	text-align: center;
	width: 100%;
}
.mxdp .box ul li .t1{
	color: #212121;
}
.mxdp .box ul li .t2{
	color: #B0B0B0;
}
.mxdp .box ul li .t3{
	color: #FF6700;
}
/*content部分*/
.content{
	width: 100%;
	background-color: #f5f5f5;
}


/*商品展示部分*/
.content{
	padding:20px 0px;
}

.content .spBox{
}
.content .spBox .spTopBox{
	height: 60px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.content .spBox .spTopBox .title{
	font-size: 22px;
	line-height: 60px;
	color: #333;
}
.content .spBox .spTopBox .right{
	line-height: 60px
}
.content .spBox .spTopBox .right span{
	font-size: 16px;
	color: #424242;
	line-height: 28px;
	display: inline-block;
	margin-left: 30px;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: all 0.3s;
}
.content .spBox .spTopBox .right span.active{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;
}
.content .spBox .spBtmBox{
	position: relative;
}

.content .spBox .spBtmBox>.left:hover{
	transform: translateY(-4px);
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
}
.content .spBox .spBtmBox>.left{
	transition: all 0.3s;
	position: relative;
	width:234px;
	height: 614px;
	overflow: hidden;
	/*margin-left: 14px;*/
}
.content .spBox .spBtmBox>.left img{
	width: inherit;
	height: inherit;
}
.content .spBox .spBtmBox>.right{
	width: 992px;
	display: none;
	height: 614px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.content .spBox .spBtmBox .right ul{
	width: inherit;
	height: inherit;
	/*overflow: hidden;*/
}
.content .spBox .spBtmBox .right ul li:hover{
	box-shadow:0 15px 30px rgba(0,0,0,0.3);
	transform: translateY(-4px);
}
.content .spBox .spBtmBox .right ul li:not(.lt){
	margin-top: 14px;
}
.content .spBox .spBtmBox .right ul li{
	transition: all 0.3s;
	position: relative;
	height: 300px;
	width: 234px;
	margin-left: 14px;
	background-color: #FFFFFF;
	overflow: hidden;
	float: left;
}
.content .spBox .spBtmBox .right ul li .top{
	position: absolute;
	top: 0px;
	left:50%;
	margin-left: -29px;
	width: 58px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #e53935;
}
.content .spBox .spBtmBox .right ul li .img{
	display: block;
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 18px;
}
.content .spBox .spBtmBox .right ul li .img img{
	width: 150px;
	height: 150px;
}
.content .spBox .spBtmBox .right ul li h1{
	font-size: 12px;
	line-height: 30px;
	color: #333333;
	text-align: center;
	font-weight: normal;
}

.content .spBox .spBtmBox .right ul li h4{
	font-weight: normal;
	font-size: 10px;
	line-height: 36px;
	color: #B0B0B0;
	text-align: center;
}
.content .spBox .spBtmBox .right ul li h3{
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FF6700;
}
.content .spBox .spBtmBox .right ul li:hover .bottom{
	bottom: 0px;
}
.content .spBox .spBtmBox .right ul li .bottom{
	font-size: 11px;
	height: 76px;
	width: 234px;
	line-height: 18px;
	padding: 10px 30px;
	background-color: #FF6700;
	color: #FFFFFF;
	box-sizing: border-box;
	position: absolute;
	transition: all 0.3s;
	bottom: -76px;
}

.content .spBox .spBtmBox .right ul li .bottom span{
	display: block;
	padding-top: 6px;
	color: #ffc299;
}
.content .spBox .spBtmBox .right ul li.mixbox{
	height: 143px;
	box-sizing: border-box;
	padding: 32px 30px 31px;
}
.content .spBox .spBtmBox .right ul li.mixbox div{
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.content .spBox .spBtmBox .right ul li.mixbox div img{
	width: inherit;
	height: inherit;
}
.content .spBox .spBtmBox .right ul li.mixbox div h1{
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.content .spBox .spBtmBox .right ul li.mixbox div h3{
	line-height: 30px;
	text-align: left;
}
.content .spBox .spBtmBox .right ul li.mixbox .left{
	padding:10px 0px;
}
.content .spBox .spBtmBox .right ul li.mixbox .right{
	text-align: center;
}
.content .spBox .spBtmBox .right ul li.gengduo .left h1{
	font-size: 20px;
}
.content .spBox .spBtmBox .right ul li.gengduo .left h3{
	font-size: 14px;
	color: #757575;
}

.content .spBox .spBtmBox .right ul li.gengduo .right span{
	font-size:52px;
	line-height: 80px;
	color: #ff6700;
	font-weight: 100;
}
